<%- include('../partials/header') %>

<table style="margin-top: 5%; margin-left: 5%;">
    <thead>
        <tr>
            <th>
                <h1>Upcoming Events</h1>
            </th>
        </tr>
    </thead>
    <tbody>
        <% events.forEach(event => { %>
        <tr>
            <td>
                <h2><%= events.title %></h2>
                <p>Date: <%= events.date %></p>
                <p>Location: <%= events.location %></p>
            </td>
            
        </tr>
        <% }) %>
    </tbody>
</table>

<%- include('../partials/footer') %>