<%- include('../partials/header') %>
<link rel="stylesheet" href="public/css/style.css">

<section class="events-section">

    <!-- Renders the Event details -->
    <% data.forEach(event => { %>

            <!-- To properly work with existing CSS code, the certain element class names and id's are also provided from the backend -->
            <div class="<%=event.class%>" id="<%=event.id%>">
                <img src="<%=event.image%>" alt="<%=event.alt%>">
                <div class="event-info">
                    <h2><%=event.title%></h2>
                    <p><%=event.participant%> Participants</p>
                    <p>$<%=event.price%> per Ticket</p>
                    <a href="/contact" class="details-btn">Sign Up</a>
                </div>
            </div>

    <% }) %>

</section>

<%- include('../partials/footer') %>
