<%- include('../partials/header') %>

<table style="margin-top: 5%; margin-left: 5%;">
    <thead>
        <tr>
            <th>
                <h1>Upcoming Events</h1>
            </th>
        </tr>
    </thead>
    <tbody>
        <% data.forEach(event => { %>
        <tr>
            <td>
                <h2><%= event.title %></h2>
                <p>Date: <%= event.date %></p>
                <p>Location: <%= event.location %></p>
                <img src="<%= event.image %>" width="200">
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>

<%- include('../partials/footer') %>